* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background-color: #333;
	color: white;
	padding: 20px;
	text-align: center;
}

section {
	margin: 20px;
}

form {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

form input, form textarea {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
}

form input {
	font-weight: bold;
	border-radius: 5px;
    background-color: rgb(213, 213, 213);
}

form textarea {
	height: 200px;
	resize: none;
	background-color: antiquewhite;
}

form button {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	width:10vw ;
	margin: auto;
}

form button:hover {
	background-color: #1c681d;
}

ul {
	list-style-type: none;
}

li {
	width: 50vw;
	margin: 10px auto;
	padding: 10px;
	background-color: #d0d0d0;
	border-radius: 5px;
}

li h2 {
	font-size: 20px;
	margin-bottom: 10px;
	margin: 10px;
}

li p {
	font-size: 16px;
	margin: 10px;
}

li button {
	background-color: #f44336;
	color: white;
	padding: 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
	font-size: 16px;
}

li button:hover {
	background-color: #d32f2f;
}
